<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgres" connectionString="User ID=postgres;Password=dbclass;Host=52.146.10.49;Port=5432;Database=Spotify;" />
	</connectionStrings>
	<appSettings>
		<add key="SpotifyToken" value="BQCiTuA606wqs-IOeDwIUZTcsM0ob9yv2dJS0h2aHKPU8b76w9jBkjHu2sIRMaB7uJz-c5i37JYrGu8AZYoADTDFcKSYqAdiD7JKlQ4wNuOBnnB45N9seF288dOl5e-5Gj2JFSpB63jES_47Dw"/>
	</appSettings>
</configuration>