<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgres" connectionString="User ID=postgres;Password=dbclass;Host=52.146.10.49;Port=5432;Database=Spotify;" />
	</connectionStrings>
	<appSettings>
		<add key="SpotifyToken" value="BQA4znUf_Vi5XMiA7dI-w80V7AbmhZuhtRo5cqOShuO4K3N1q99qoU7-7fIKw4VeGbfGOXsypeAXq_VAsZgfAjnSHIta8lk7dcaxhHWJSWV40hFEJr80AUTeuJgJbnUo-LhDWH6vwDD360WqbA"/>
	</appSettings>
</configuration>