<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgres" connectionString="User ID=postgres;Password=dbclass;Host=52.146.10.49;Port=5432;Database=Spotify;" />
	</connectionStrings>
	<appSettings>
		<add key="SpotifyToken" value="BQBVk0_UgMchT4pR3g4hB_I64w6mP6mZB934Mzu4T75dnMUUGmcTh10FbfL6MaQfEziuECDXWYG-SSVuqRv8IKtGCH30Fg8Z-Ka4tL6F4xsVTXLZSvrarT1MHIZbKxSgNWAFR8hJREfo92fBsw"/>
	</appSettings>
</configuration>